* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

li {
  border: 2px solid black;
  max-width: 500px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px;
}

li > * {
  flex-grow: 0.5;
}

.eventName {
margin-left: auto;
}

.eventDate {
  text-align: right;
}
