* {
  box-sizing: border-box;
}

.container {
  border: 10px solid black;
}

.item {
  text-align: center;
  font-size: 2em;
  color: white;
  border: 5px solid red;


  background-color: teal;
}

.flexContainer {
  display: flex;
}

.flexItem {
  flex-basis: 100px;
}
